
/* Tracked Variables */
:root {
	--colorInput: rgba(151, 101, 45, 0.5);
	--mainPanelPos: calc(50% - 231px - 60px);					/* 50% - 1/2 Main Layout - Left Shift */
	--leftPanelPos: calc(50% - 231px - 60px - 300px - 10px);	/* 50% - 1/2 Main Layout - Left Shift - Own Size - Padding */
	--leftWidth: 300px;
	--boldFont: "Segoe UI Semibold";
}

/* Main */
* { box-sizing: border-box; }

body {
	min-height: 100vh;
	background-color: white;
	font-family: "Segoe UI Historic", "Segoe UI", "Roboto", "Helvetica", "Arial";
}

a { text-decoration: none; color:rgb(25, 25, 25); }

/* Images */
amp-img { border: none; }
amp-img.grey-placeholder { background-color: grey; }

/* ----- Header + Navbar ----- */
header {
	position: fixed;
	overflow: hidden;
	border-bottom: solid 1px #68533a;
	background-color: white;
	height: 48px;
	width: 100%;
	left: 0; top: 0;
	z-index: 10;
}

.inHead {
	position: fixed;
	left: var(--leftPanelPos);
	padding-left:12px;
	width: calc(462px + 300px + 400px + 40px);
}

.inHead amp-img { height: 48px; float:left; }
.inHead a { float: right; display: block; color: #828282; text-align: center; padding: 14px 16px; height: 48px; }
.inHead a:hover { background-color: #ddd; color: black; }

/* Input */
.inputWrap { position: relative; margin-bottom:20px; }

.inputText {
	display: block;
	width: 98%; margin:0; padding: 0.8rem 1.6rem;
	color: inherit; font-family: inherit; font-weight: inherit;
	font-size: 1.2rem; line-height: 1.3;
	transition: box-shadow 200ms;
	border: solid 1px var(--colorInput); border-radius: 0.4rem;
}

.inputText:hover, .submitButton:hover { cursor: pointer; box-shadow: 0.1rem 0.1rem 0.3rem var(--colorInput); }

.inputText::placeholder { color: #777777; }
.inputText:focus { outline: none; box-shadow: 0.2rem 0.2rem 0.6rem var(--colorInput); }
.inputLabel { color: #222; }

.submitButton {
	display: block;
	width: 98%; margin:0; padding: 0.8rem 1.6rem;
	color: inherit; font-family: inherit; font-weight: inherit;
	font-size: 1.2rem; line-height: 1.3;
	transition: box-shadow 200ms;
	border: solid 1px var(--colorInput); border-radius: 0.4rem;
}

.submitButton:active { background-color: #bcdafe; }

/* ----- Main Menu ----- */
#menuMain {
	display: none;
	flex-flow: column nowrap;
	align-items: center;
	justify-content:space-evenly;
	
	position: fixed;
	height: calc(100% - 48px); width: 100%;
	left: 0; top: 48px;
	
	background-color: white;
	z-index:100;
	padding:3px 0 0 0;
}

#menuMain > a {
	background-color: #bcdafe;
	flex: 1 1;
	width: 98%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin-bottom:3px;
}

/* ----- Columns ----- */
.layoutMain {
	flex: 1 1 892px;
	padding-top: 54px;
	margin-left: var(--mainPanelPos);
}

.Sides { position: fixed; width: var(--leftWidth); left: var(--leftPanelPos); top: 48px; min-height: 100vh; z-index: 8; }

.LWrap { display:flex; flex-flow: column wrap; }
.LMenu { flex: 0 0; margin-bottom:10px; }

.LOpt { padding: 8px 8px 0 8px; display: flex; flex-flow: column; }
.LOpt > a { display: flex; flex-flow: row; flex: 0 0 64px; padding:10px 4px 6px 4px; }
.LOpt > a:hover { background-color:rgb(240, 232, 223); border-radius: 10px; }
.LOpt > a > p { font-family: var(--boldFont); font-size: 17px; padding-left:16px; }

.LBox { flex: 0 0; padding:12px; margin: 8px; border-radius: 10px; background-color:#efffdd; }

/* ----- Tray ----- */
.tray { display: flex; height:52px; }
.tray-icon { width: 48px;  }
.tray-mid { flex: 1; }
.tray-menu { width:48px; height:48px; }
.tray-menu-inner { display:flex; align-items:center; justify-content:center; width:48px; height:48px; border-radius:30px; padding:5px; cursor: pointer; }
.tray-menu-inner:hover { background-color: #d8c3aa; }

/* ----- Feed Classes ----- */
#main-section { display:flex; flex-direction: column; flex: 1; align-items: center; overflow-y: hidden; max-width: calc(462px + 400px + 30px); }
.feed-contain { display:flex; flex-direction: row; flex-wrap: nowrap; flex: 1; width:100%; border-top: solid 1px #d8c3aa; }
.feed-contain:first-child { border-top: none; }
.feed-wrap { display: flex; flex-direction: column; flex: 1 1 462px; max-width:462px; }
.feed-hov { padding-bottom: 16px; }
.feed-hov:hover { background-color:#eeeeee; transition: all 0.2s ease-in-out; }
.feed-image { max-width: 462px; padding: 0px; margin: 0px; }
.feed-image-inner { padding: 0px 30px 0px 30px; margin: 0px; }
.feed-image-inner > amp-img { border-radius:10px; }

.extra-wrap { display:flex; flex-direction: column; flex: 1 1 400px; padding-top:52px; }
.extra-wrap > .feed-hov { padding:0 15px 0 15px; }
.extra-body { flex: 0 1; width:100%; }
.extra-foot { flex: 2 0; display:flex; }
/* .extra-foot > p { margin-left:15px; display:flex; align-items: flex-end; } */
.breadcrumbs { margin-left:15px; display:flex; align-items: flex-end; flex-direction: row; }
.crumb { margin-bottom:16px; padding:12px; border: solid 1px #d8c3aa; border-radius: 6px; }
.crumb + .crumb { margin-left: 10px; }
.crumb:hover { background-color:#eeeeee; transition: all 0.2s ease-in-out; }

/* ----- Media Handling ----- */
@media screen and (min-width: 900px) and (max-width: 1220px) {
	.HideTab { display: none; }
	.layoutMain { margin-left: var(--leftWidth); }
	.Sides { left: 0px; }
	.inHead { left: 0px; width: 100%; }
}

@media screen and (max-width: 900px) {
	.HideTab, .HideMob { display: none; }
	.Sides { left: 0px; width: 74px; }
	.inHead { left: 0px; width: 100%; }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
	.layoutMain { margin-left: 74px; }
	.LBox { display: none;}
	.LOpt > a > p { display: none; }
}

@media screen and (max-width: 700px) {
	.layoutMain { margin-left:0px; width: 100%; }
	.Sides { display: none; }
}

@media screen and (max-width: 500px) {
	.feed-contain { flex-wrap: wrap; }
	.extra-wrap { padding-top: 0px; }
	.extra-wrap > .feed-hov { padding:0 30px 0 30px; }
	.extra-wrap > p { display: none; }
	.extra-foot > p { margin-left:30px; }
}

.spacer-40 { visibility: hidden; padding: 20px 0 20px 0; }

/* ----- Text Classes ----- */
h1 { margin: 1rem; }
h2, .h2 { font-family: var(--boldFont); font-size:19px; margin: 2px 0px 2px 0px; }
h3, .h3 { font-family: var(--boldFont); font-size:15px; font-weight: 600; margin-top:8px; }
.note { font-size: 13px; font-weight: 400; color: rgb(100, 100, 100); }
